<section class="padding-center white-bg">
    <div class="row">
        <div class="medium-12 columns">
            <h3>Business Information</h3>
            <!-- <p>Please come to our place and do Yoga. Yoga is cool, yoo..</p> -->

        </div>
    </div>
    <!-- <img class="margin-bottom-1" src="https://via.placeholder.com/700x350" alt=""> -->

    <div class="row">
        <div class="small-12 column">
            <div class="group-list">
                <div class="list-tile border-bottom-light">
                    <div class="flex-container ">
                        <div class="flex-item flex-05 margin-right-05">
                            <fa-icon [icon]="faMapPin"></fa-icon>
                        </div>
                        <div class="flex-item flex-3 margin-right-05">
                            <div class="title margin-bottom-05">
                                {{business?.address.street}}
                            </div>
                        </div>
                        <div class="flex-item flex-1 text-right">
                            <!-- <div class="title primary-color margin-bottom-05">
                                Direction
                            </div> -->

                        </div>

                    </div>
                </div>
                <div class="list-tile border-bottom-light">
                    <div class="flex-container align-center">
                        <div class="flex-item flex-05 margin-right-05">
                            <fa-icon [icon]="faPhone"></fa-icon>
                        </div>
                        <div class="flex-item flex-3 margin-right-05">
                            <div class="title margin-bottom-05">
                                {{business?.address.telephone}}
                            </div>

                        </div>
                        <div class="flex-item flex-1 text-right">
                            <div class="title margin-bottom-05">

                                <a class="bold primary-color" href="tel: {{business?.address.telephone}}">Call</a>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="list-tile border-bottom-light">
                    <div class="flex-container align-center">
                        <div class="flex-item flex-05 margin-right-05">
                            <fa-icon [icon]="faEnvelope"></fa-icon>
                        </div>
                        <div class="flex-item flex-3 margin-right-05">
                            <div class="title margin-bottom-05">
                                {{business?.address.email}}
                            </div>

                        </div>
                        <div class="flex-item flex-1 text-right">
                            <div class="title primary-color margin-bottom-05">
                                <a class="bold primary-color" href="mailto:{{business?.address.email}}">Email</a>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="list-tile">
                    <div class="flex-container align-center">
                        <div class="flex-item flex-05 margin-right-05">
                            <fa-icon [icon]="faGlobes"></fa-icon>
                        </div>
                        <div class="flex-item flex-3 margin-right-05">
                            <div class="title margin-bottom-05">
                                {{business?.address.website}}
                            </div>

                        </div>
                        <div class="flex-item flex-1 text-right">
                            <div class="title primary-color margin-bottom-05">

                                <a target="_blank" class="bold primary-color"
                                    href="{{business?.address.website}}">Visit</a>

                            </div>

                        </div>

                    </div>
                </div>
                <div class="callout padding-center margin-bottom-1"></div>

                <!-- <div class="list-tile">
                    <div class="flex-container align-center">
                        <div class="flex-item flex-05 margin-right-05">
                            <fa-icon [icon]="faPhone"></fa-icon>
                        </div>
                        <div class="flex-item flex-3 margin-right-05">
                            <div class="title margin-bottom-05">
                               Instagram
                            </div>
                           
                        </div>
                        <div class="flex-item flex-1 text-right">
                            <div class="title margin-bottom-05">
                                {{business.social_media.instagram?.name}}
                            </div>
                            
                        </div>
    
                    </div>
                </div> -->



            </div>
        </div>
    </div>
</section>