<div class="callout border-bottom">
    <div class="row">
        <div class="small-12 columns">
            <div class="flex-container">
                <div class="flex-item margin-right-05">
                    <div class="calendar-item medium-grey-bg">
                        <div class="tiny-text bold uppercase">
                            Jan
                        </div>
                        <div class="huge-text bold">
                            <fa-icon [icon]=faThList></fa-icon>
                        </div>
                    </div>
                </div>
                <div class="flex-item margin-right-05" *ngFor="let item of [].constructor(5)">
                    <div class="calendar-item medium-grey-bg">
                       
                        <div class="tiny-text bold uppercase">
                            Jan
                        </div>
                        <div class="huge-text bold">
                            22
                        </div>
                    </div>
                </div>
                
               
            </div>
        </div>
    </div>
</div>