<section class="black-bg padding-center margin-bottom-3">

    <div class="row">
        <div class="small-12 columns">
            <img class="avatar-image" src="https://via.placeholder.com/200x200" alt="">

            <div class="label-text large">
                <div class="title margin-bottom-05">
                    Hey, let's have a visit. Find us in here
                </div>
                <div class="description">
                   Jl. Pinus 1 no 58, TamanRoyal, Jl. Pinus 1 no 58, TamanRoyal
                </div>
                <div class="tiny-text">
                    T : 312412
                 </div>
                 <div class="tiny-text">
                    w : www.website.com
                 </div>
            </div>
        </div>
    </div>

</section>