<div class="callout padding-center">
    <div class="callout">
        <div class="flex-container align-center">
            <div class="flex-item flex-05 text-center">

                <a (click)="previous()" class="margin-right-05">
                    <fa-icon [icon]=faChevronCircleLeft></fa-icon>
                </a>
            </div>
            <div class="flex-item flex-2 text-center">
                <div class="title bold">
                    {{selectedMonth | date:"MMMM"}}
                </div>
            </div>
            <div class="flex-item flex-05 text-center">
                <a (click)="next()">
                    <fa-icon [icon]=faChevronRight></fa-icon>
                </a>
            </div>
        </div>
    </div>


    <div class="row small-collapse small-up-7">
        <div class="columns" *ngFor="let item of days">
            <div class="calendar-item">
                {{item}}
            </div>
        </div>
    </div>

    <div class="row small-collapse small-up-7">
        <div class="columns" *ngFor="let item of calendar; let i = index">
            <div [ngClass]="{'active': item.date==selectedDate, 'disable': item.enable==false, 'available': item.available==true}" class="calendar-item"
                (click)="selectDate(i,item)">
                {{item.date? (item.date | date:"dd") : '&nbsp;'}}
            </div>

        </div>
    </div>
    
</div>
