.calendar-item{
    padding: 5px;
    text-align: center;
    cursor: pointer;
    opacity: 0.3;
}

.calendar-item.active{
    
    background:black !important;
    color: white;
    
}

.calendar-item.disable{
    
    background:none !important;
    color: white;
    
}



.calendar-item.available{
    
    opacity: 1;
    
}
