<div class="row small-collapse medium-collapse">
    <div class="medium-3 columns show-for-medium light-grey-bg">
        <app-desktop-sidebar></app-desktop-sidebar>

    </div>
    <div class="medium-9 columns light-grey-bg fullheight">
        <app-top-navigation-bar [noBackButton]=true [isAdmin]=true [title]="title"></app-top-navigation-bar>

        <div *ngIf="isLoading">
            <app-loading></app-loading>
        </div>
        <div *ngIf="!isLoading">
            <div class="margin-bottom-3">
                <div class="row small-collapse medium-collapse">
                    <div class="medium-12 columns">
                        <div class="row small-collapse medium-collapse">
                            <div class="small-12 columns">
                                <app-store [business]=business [isAdmin]=true></app-store>
                            </div>
                        </div>
                    </div>
                </div>
    
                <section class="padding-center margin-bottom-05 white-bg">
                    <div class="row">
                        <div class="medium-12 columns">
                            <div class="flex-container align-center">
                                <div class="flex-item flex-3">
                                    <h3>More about {{business.name}}</h3>
                                </div>
    
                            </div>
                            <p>
                                {{business.short_description}}
                            </p>
                            <!-- <app-product-usp [attribute]=business?.attribute></app-product-usp> -->
    
                            <button (click)="openModal('updateBusiness')" class="button secondary expanded">Edit <fa-icon
                                [icon]="faEdit"></fa-icon>
                            </button>
                        </div>
                    </div>
                </section>
    
    
    
    
                <app-featured-photos [isAdmin]=true [photos]=business?.photos></app-featured-photos>
                

                <app-business-location [business]=business></app-business-location>
    
               <div class="callout padding-center">
                <button (click)="openModal('editAddress')" class="button secondary expanded">Edit Business Information <fa-icon
                    [icon]="faEdit"></fa-icon>
                </button>
               </div>
    
    
            </div>
            <div class="callout margin-bottom-3"></div>
    
    
            <!-- WAIT FOR INTERACTION -->
            <app-popup (onClose)="closeModal($event)" [isHalf]="false" [name]="'editAddress'" *ngIf="modal.editAddress">
               <div class="padding-center">
                <div class="row">
                    <div class="small-12 columns">
                        <form class="form margin-bottom-2" [formGroup]="addressForm">
    
                            <label for="street">Address</label>
                            <textarea formControlName="street"rows="2"></textarea>
    
                            <div *ngFor="let error of addressForm.controls.street.errors | keyvalue">
                                <p class="error" *ngIf="!this.addressForm.controls.street.pristine">
                                    {{formErrorMsg[error.key]}}</p>
                            </div>
    
                            <label for="telephone">Telephone</label>
                            <input type="text" formControlName="telephone">
                            <label for="email">Email</label>
                            <input type="text" formControlName="email">
    
                            <div *ngFor="let error of addressForm.controls.telephone.errors | keyvalue">
                                <p class="error" *ngIf="!this.addressForm.controls.telephone.pristine">
                                    {{formErrorMsg[error.key]}}</p>
                            </div>
    
    
    
    
                            <label for="region_id">Region</label>
                            <input type="text" formControlName="region">
    
    
    
                            <label for="city">City</label>
                            <input type="text" formControlName="city">
    
                            <div *ngFor="let error of addressForm.controls.city.errors | keyvalue">
                                <p class="error" *ngIf="!this.addressForm.controls.city.pristine">
                                    {{formErrorMsg[error.key]}}</p>
                            </div>
    
                            <label for="website">Website</label>
                            <input type="text" formControlName="website">
    
                        </form>
                        <div class="callout">
                            <button class="button black expanded primary" (click)="updateAddress()">Update</button>
    
                        </div>
    
                        
    
                    </div>
                </div>
               </div>
            </app-popup>
    
            <!-- WAIT FOR INTERACTION -->
            <app-popup (onClose)="closeModal($event)" [isHalf]="false" [name]="'updateBusiness'"
                *ngIf="modal.updateBusiness">
    
                <div class="padding-center">
                    <div class="row">
                        <div class="small-12 columns">
                            <form class="form" [formGroup]="businessForm">
        
                                <label for="name">Business Name</label>
                                <input type="text" formControlName="name">
        
                                <label for="name">Short Description</label>
                                <input type="text" placeholder="Short information about your business" formControlName="short_description">
        

                                <label for="name">Tell more about your business</label>
                              
                                <textarea class="margin-bottom-2" placeholder="Describe about your uniqueness. speciality, etc" formControlName="description" cols="30" rows="4"></textarea>
                                <div class="callout small-text margin-bottom-2 padding-center light-grey-bg">
                                    <p class=" small-text">Example</p>
                                    <p class=" small-text">We are specialized in precision cutting, gorgeous colors, superb services and uncompromising standards in hairdressing and spa treatments. we offer the highest quality in customer service and the latest innovation in professional cosmetic and beauty products</p>
                                </div>
        
                            </form>
        
                            <button class="button expanded black" (click)="updateBusiness()">Update</button>
        
        
                        </div>
                    </div>
                </div>
    
            </app-popup>
    
        </div>
       


        <app-bottom-navigation-bar [isAdmin]=true></app-bottom-navigation-bar>


    </div>
</div>
