.transparant{
    background: rgba(0,0,0,0.01);
    position: absolute;
    width:100%;
    left:0;
    top:0;
    z-index: 999999;
    color: white !important;
    border: none;
    box-shadow:none;
}


.transparant .icon,.transparant .title{
    color: white !important;
}
.navigation-mobile-top .icon .notification{
    top: 10px !important;
}



.navigation-mobile-top{
   background: #000000!important;
}

.navigation-mobile-top .icon,.navigation-mobile-top .title{
    font-size:20px;
    color: white !important;
    font-weight: 500;
}

h1{
    font-size:25px;
    margin:0
}

.elevate {
    box-shadow: 0px 1px 3px 1px rgba(79, 79, 79, 0.385)
}
.black-bg{
    background-color: black !important;
}

.isPop{
    background: white !important;
}

.isPop .icon,.isPop .title{
   
    color: #333333 !important;
   
}

.sticky {
    position: fixed;
   
    width: 100%;
    z-index: 999;
    transition:all 1s;
  }