<div class="navigation-mobile-top" [ngClass]="{'elevate': border, 'isPop': isPop,'sticky': isSticky}" *ngIf="isAdmin">
    <div class="flex-container align-center">
        <div (click)="navigate()" *ngIf="!noBackButton"  class="flex-item flex-05 text-center">
            <div class="icon">
                <fa-icon [icon]="faArrowLefts"></fa-icon>
                
            </div>
        </div>

        <div [ngClass]="{'margin-left-1': noBackButton}" class="flex-item flex-3 text-left margin-right-05">
            <div class="title ">
                {{title}}
            </div>
        </div>

        <div class="flex-item flex-05 text-center">
            <div class="icon ">
                <!-- <fa-icon [icon]="faHelp"></fa-icon> -->
            </div>
        </div>


    </div>
</div>


<div class="navigation-mobile-top" [ngClass]="{'elevate': border, 'isPop': isPop,'sticky': isSticky}" *ngIf="!isAdmin">
    <div class="flex-container align-center">
        <div (click)="navigate()" *ngIf="!noBackButton"  class="flex-item flex-05 text-center">
            <div class="icon">
                <fa-icon  [icon]="faArrowLefts"></fa-icon>
            </div>
        </div>

        <div [ngClass]="{'margin-left-1': noBackButton}" class="flex-item flex-3 text-left margin-right-05">
            <div class="title ">
                {{title}}
            </div>
        </div>

        <div class="flex-item flex-05 text-center">
            <!-- <div class="icon ">
                <fa-icon [icon]="faHelp"></fa-icon>
            </div> -->
        </div>


    </div>
</div>
