<div class="navigation-mobile-bottom show-for-small-only  elevate-top" *ngIf="isAdmin">
    <div class="flex-container align-center justify-content-center">
        <div class="flex-item flex-05" [routerLink]="[ '/admin/dashboard',business_id ]" routerLinkActive="active">

            <div class="icon">
                <fa-icon [icon]="faThLarge"></fa-icon>
                <div class="title">
                    Dashboard
                </div>
            </div>


        </div>
        <div class="flex-item flex-05" [routerLink]="[ '/admin/booking',business_id ]" routerLinkActive="active">
            <div class="icon">
                <fa-icon [icon]="faThList"></fa-icon>
                <div class="title">
                    Booking
                </div>

            </div>

        </div>


        <div class="flex-item flex-05" [routerLink]="[ '/admin/schedule',business_id ]" routerLinkActive="active">
            <div class="icon">
                <fa-icon [icon]="faCalendarWeek"></fa-icon>
                <div class="title">
                    Calendar
                </div>

            </div>
        </div>

        <div class=" flex-item flex-05" [routerLink]="[ '/admin/service',business_id ]" routerLinkActive="active">
            <div class="icon">
                <fa-icon [icon]="faThLarge "></fa-icon>
                <div class="title">
                    My Service
                </div>

            </div>

        </div>
        <div class="flex-item flex-05" [routerLink]="[ '/admin/profile',business_id ]" routerLinkActive="active">

            <div class="icon">
                <fa-icon [icon]="faStore"></fa-icon>
                <div class="title">
                    Profile
                </div>

            </div>


        </div>
    </div>
</div>