.navigation-mobile-bottom .icon {
    font-size: 18px;
    color: #888888;
}
.navigation-mobile-bottom .title{
  color: #888888;
}

.navigation-mobile-bottom .active .title,.navigation-mobile-bottom .active .icon{
  color: #000000!important;
}


.icon{
  padding:0.5rem 0;
  margin-bottom: 0.5rem;
  position: relative;
}


.elevate-top{
box-shadow: 0px -1px 10px 1px rgba(0, 0, 0, 0.03);
}
