<div class="callout padding-center">
    <button class="button expanded facebook" (click)="loginFB()">Login with Facebook</button>
    <!-- <button class="button expanded google" disabled>Login with Google</button> -->
</div>