<div class="desktop-sidebar">
    <div class="list-tile" [routerLink]="[ '/admin/dashboard',business_id ]" routerLinkActive="active">
        <div class="flex-container">
            <div class="flex-item margin-right-05">
                <div class="icon">
                    <fa-icon [icon]=faThLarge></fa-icon>
                </div>

            </div>
            <div class="flex-item flex-1">
                
                <div class="title">
                    Dashboard
                </div>

            </div>
           
        </div>
    </div>
    <div class="list-tile"  [routerLink]="[ '/admin/booking',business_id ]" routerLinkActive="active">
        <div class="flex-container">
            <div class="flex-item margin-right-05">
                <div class="icon">
                    <fa-icon [icon]=faThList></fa-icon>
                </div>

            </div>
            <div class="flex-item flex-1">
                
                <div class="title">
                    Booking
                </div>

            </div>
           
        </div>
    </div>
    <div class="list-tile"  [routerLink]="[ '/admin/schedule',business_id ]" routerLinkActive="active">
        <div class="flex-container">
            <div class="flex-item  margin-right-05">
                <div class="icon">
                    <fa-icon [icon]=faCalendarWeek></fa-icon>
                </div>

            </div>
            <div class="flex-item flex-1">
                
                <div class="title">
                    Calendar
                </div>

            </div>
           
        </div>
    </div>
    <div class="list-tile" [routerLink]="[ '/admin/service',business_id ]" routerLinkActive="active">
        <div class="flex-container">
            <div class="flex-item  margin-right-05">
                <div class="icon">
                    <fa-icon [icon]=faThLarge></fa-icon>
                </div>

            </div>
            <div class="flex-item flex-1">
                
                <div class="title">
                    Service
                </div>

            </div>
           
        </div>
    </div>
    <div class="list-tile"  [routerLink]="[ '/admin/profile',business_id ]" routerLinkActive="active">
        <div class="flex-container">
            <div class="flex-item margin-right-05">
                <div class="icon">
                    <fa-icon [icon]=faStore></fa-icon>
                </div>

            </div>
            <div class="flex-item flex-1">
                
                <div class="title">
                    Profile
                </div>

            </div>
           
        </div>
    </div>

</div>
