<div class="row small-collapse medium-collapse">
    <div class="medium-3 columns show-for-medium light-grey-bg">
        <app-desktop-sidebar></app-desktop-sidebar>

    </div>
    <div class="medium-9 columns medium-grey-bg fullheight">
        <app-top-navigation-bar [noBackButton]=true [isAdmin]=true [title]="title"></app-top-navigation-bar>
        <div class="callout white-bg border-bottom">
            <div class="row">
                <div class="small-12 columns">
                    <div class="label-text medium">
                        <div class="flex-container align-center">

                            <div class="flex-item flex-2  margin-right-05">
                                <div class="description">
                                    {{  getDate() |  date  }}
                                 

                                </div>
                                <div class="title">
                                    Hi, {{customer?.name}}
                                </div>

                            </div>
                            <div class="flex-item flex-05 text-right">
                                <img height="45px" width="45px" class="avatar-image" [src]=customer?.photo_url>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="callout white-bg border-bottom ">

            <div class="row">
                <div class="small-12 columns">

                    <div class="flex-container margin-bottom-1">

                        <div class="flex-item flex-1 margin-right-05">
                            <div class="callout white-bg padding-center border rounded ">
                                <div class="subtitle">
                                    Total Booking
                                </div>
                                <div class="title">
                                    {{salesReports?.total_order}}
                                </div>

                            </div>
                        </div>
                        <div class="flex-item flex-1">
                            <div class="callout white-bg padding-center border rounded">
                                <div class="subtitle">
                                    Total Transaction
                                </div>
                                <div class="title">

                                    {{ salesReports?.total_transaction | currency:' IDR' }}
                                </div>

                            </div>
                        </div>


                    </div>
                    <div class="flex-container margin-bottom-1">

                        <div class="flex-item flex-1 margin-right-05">
                            <div class="callout white-bg padding-center border rounded ">
                                <div class="subtitle">
                                    Total Customer
                                </div>
                                <div class="title">
                                    {{customerReports?.total_customer}}
                                </div>

                            </div>
                        </div>
                        <div class="flex-item flex-1">
                            <div class="callout white-bg padding-center border rounded ">
                                <div class="subtitle">
                                    Total Service
                                </div>
                                <div class="title">
                                    {{productReports?.total_product}}
                                </div>

                            </div>
                        </div>


                    </div>



                </div>
            </div>

        </div>
        <div class="callout white-bg  text-center margin-bottom-1 elevate-bottom">
            <a disabled>View All Reports <fa-icon [icon]=faChevronRight></fa-icon></a>

        </div>

        <div [routerLink]="[ '/admin/schedule', business_id ]"
            class="callout  padding-center white-bg   elevate-bottom border-bottom">
            <div class="flex-container align-center">
                <div class="flex-item flex-05 margin-right-05">
                    <fa-icon class="huge-text" [icon]=faCalendar></fa-icon>

                </div>

                <div class="flex-item flex-4">
                    <div class="title">
                        View Upcoming Appointment
                    </div>
                    <!-- <div class="subtitle margin-bottom-05">
                        Gentlement cut with dada at 19:00
                    </div> -->
                </div>
                <div class="flex-item flex-05 text-right">
                    <div class="icon">
                        <fa-icon [icon]=faChevronRight></fa-icon>
                    </div>
                </div>
            </div>

        </div>
        <div [routerLink]="[ '/admin/customer', business_id ]"
            class="callout  padding-center white-bg margin-bottom-05 elevate-bottom border-bottom">
            <div class="flex-container align-center">
                <div class="flex-item flex-05 margin-right-05">
                    <fa-icon class="huge-text" [icon]=faUser></fa-icon>

                </div>

                <div class="flex-item flex-4">
                    <div class="title">
                        Manage Customer
                    </div>
                    <!-- <div class="subtitle margin-bottom-05">
                        Gentlement cut with dada at 19:00
                    </div> -->
                </div>
                <div class="flex-item flex-05 text-right">
                    <div class="icon">
                        <fa-icon [icon]=faChevronRight></fa-icon>
                    </div>
                </div>
            </div>

        </div>

        <div class="section white-bg">
            <div class="row">
                <div class="small-12 columns">
                
                    <div class="group-list">
                        <div class="list-tile border-bottom">
                            <div class="flex-container align-center"
                                [routerLink]="[ '/admin/booking/'+business_id+ '/add']" [queryParams]="{step: 1}">
                                <div class="flex-item flex-05 margin-right-05">
                                    <fa-icon class="huge-text" [icon]=faPlus></fa-icon>

                                </div>
                                <div class="flex-item flex-4 margin-right-05">
                                    <div class="title">
                                        New Booking
                                    </div>
                                    <div class="subtitle">
                                        Create a new appointment for your customer
                                    </div>
                                </div>
                                <div class="flex-item flex-05 text-right">
                                    <div class="icon">
                                        <fa-icon [icon]=faChevronRight></fa-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="list-tile border-bottom">
                            <div class="flex-container align-center"
                                [routerLink]="[ '/admin/customer/'+business_id+ '/add']">
                                <div class="flex-item flex-05 margin-right-05">
                                    <fa-icon class="huge-text" [icon]=faPlus></fa-icon>

                                </div>
                                <div class="flex-item flex-4 margin-right-05">
                                    <div class="title">
                                        New Customer
                                    </div>
                                    <div class="subtitle">
                                        Add new customer to your contact
                                    </div>
                                </div>
                                <div class="flex-item flex-05 text-right">
                                    <div class="icon">
                                        <fa-icon [icon]=faChevronRight></fa-icon>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <div class="callout padding-center margin-bottom-4">

        </div>



        <app-bottom-navigation-bar [isAdmin]=true></app-bottom-navigation-bar>



    </div>
</div>
