<app-top-navigation-bar [isAdmin]=true [title]="title"></app-top-navigation-bar>


<div class="callout padding-center light-grey-bg">
    <input style="display: none" type="file" (change)="promoImageChanged($event)" #imageinput accept=".png,.jpg">
    <button [disabled]="isUpload" class="button tiny expanded" (click)="imageinput.click()">{{actionButton}}</button>
</div>

<section class="main-content">
    <app-loading *ngIf="isUpload"></app-loading>
    <app-loading *ngIf="isLoading"></app-loading>
</section>


<div *ngIf="!isLoading">
    <div class="row small-collapse medium-uncollapse small-up-3">
        <div class="columns" *ngFor="let item of gallery; let i = index">
            <div class="image-item" (click)="selectGallery(i,item)">
                <img [src]=item.image_path alt="">
            </div>
        </div>
    </div>
</div>



<div class="galleryModal" *ngIf="selectedItem!==null">

    <img [src]=selectedGallery?.image_path alt="">
    <div class="callout padding-center stick-bottom">
        <div class="flex-container">
            <!-- <div class="flex-item flex-2">
            <button class="button black" (click)="setAsPrimary(selectedGallery?.gallery_id)">
                Set as Primary Gallery
            </button>
        </div> -->
            <div class="flex-item flex-1 margin-right-05">
                <button class="button secondary hollow expanded" (click)="selectGallery(null,null)">
                    Close
                </button>
            </div>
            <div class="flex-item flex-1">
                <button class="button secondary expanded" (click)="removePhoto(selectedGallery?.gallery_id)">
                    Remove
                </button>
            </div>
        </div>
    </div>
</div>
