<app-top-navigation-bar [title] = title ></app-top-navigation-bar>

<div class="fullheight">

    <div class="form-container white-bg margin-bottom-05">

        <form class="form margin-bottom-2" [formGroup]="registerForm" >
           

            <label for="email">Email</label>
            <input type="email" formControlName="email">

            <div *ngFor="let error of registerForm.controls.email.errors | keyvalue">
                <p class="error" *ngIf="!registerForm.controls.email.pristine">{{formErrorMsg[error.key]}}</p>
            </div>

            <label for="firstname">First Name</label>
            <input type="text" formControlName="firstname">

            <div *ngFor="let error of registerForm.controls.firstname.errors | keyvalue">
                <p class="error" *ngIf="!registerForm.controls.firstname.pristine">{{formErrorMsg[error.key]}}</p>
            </div>

            <label for="lastname">Last Name</label>
            <input type="text" formControlName="lastname">

            <div *ngFor="let error of registerForm.controls.lastname.errors | keyvalue">
                <p class="error" *ngIf="!registerForm.controls.lastname.pristine">{{formErrorMsg[error.key]}}</p>
            </div>

            <label for="password">Password</label>
            <input type="password" formControlName="password">

            <div *ngFor="let error of registerForm.controls.password.errors | keyvalue">
                <p class="error" *ngIf="!registerForm.controls.password.pristine">{{formErrorMsg[error.key]}}</p>
            </div>

            <label for="password">Confirm Password</label>
            <input type="password" formControlName="confirm_password">
        </form>
        
        <button [disabled]="
        registerForm.value.password !== registerForm.value.confirm_password || !registerForm.valid
        " class="button expanded primary" (click)="createAccount()">Create an Account</button>
    </div>
   

</div>
