/* ============================================ *
 * Ratings - Global
 * ============================================ */
 .ratings span{
    font-size:12px;
    color:#666;
    cursor:pointer
    
    }
    .ratings span:hover{color:#f57224;}
    .ratings strong{float:left;margin:1px 3px 0 0}
    .ratings .rating-links{margin:0;display:inline-block;vertical-align:middle;margin-left:12px}
    .ratings .rating-links >a,.no-rating a{line-height:20px;font-size:14px;color:#bdbdbd}
    .ratings .rating-links .separator{margin:0 5px;vertical-align:top;line-height:17px;color:#777}
    .rating-box{width:90px;height:15px;font-size:0;line-height:0;text-indent:-999em;overflow:hidden;position:relative}
    .rating-box:before{font-family:none;content: "★ ★ ★ ★ ★";width:100px;height:15px;color:#c3c5c9;display:block;font-size:15px;line-height:15px}
    .rating-box .rating{font-family:none;float:left;height:15px;position:absolute;left:0;top:0;overflow:hidden}
    .rating-box .rating:before{font-family:none;content: "★ ★ ★ ★ ★";width:100px;height:15px;color:#f57224;display:block;font-size:15px;line-height:15px}
    
    .ratings .rating-box{display:inline-block;vertical-align:middle}
    .ratings-table{margin:20px 0 40px;border:1px solid #ddd}
    .ratings-table th,.ratings-table td{font-size:15px;line-height:1.15;padding:3px 0}
    .ratings-table th{font-weight:700;padding-right:8px}
    .ratings-table.data-table thead th{font-size:11px;padding:0 15px}
    .ratings-table.data-table input.radio{margin:0}
    .ratings-table.data-table .nobr{display:block;line-height:20px;font-weight:600}
    
    .review-area{line-height:25px;margin-left:100px}
    .review-area .review-title{font-size:18px}
    .review-area .review-by{font-style:italic;font-size:12px;color:#ccc}
    .review-area .review-by b{color:#08c;font-weight:400}
    .review-area .ratings-list{margin-bottom:5px}
    .review-area .ratings-list .rating-item{display:inline-block;vertical-align:middle;margin-right:10px}
    .review-area .ratings-list .label{vertical-align:middle;font-size:12px;padding:0 5px 0 0;font-weight:400}
    .review-area .ratings-list .rating-box{display:inline-block;vertical-align:middle}
    
    
    .product-container .rating-box{width:80px;height:8px;font-size:0;line-height:0;text-indent:-999em;overflow:hidden;position:relative}
    .product-container .rating-box:before{font-family:none;content: "★ ★ ★ ★ ★";width:80px;height:8px;color:#c3c5c9;display:block;font-size:8px;line-height:8px}
    .product-container .rating-box .rating{font-family:none;float:left;height:8px;position:absolute;left:0;top:0;overflow:hidden}
    .product-container .rating-box .rating:before{font-family:none;content: "★ ★ ★ ★ ★";width:80px;height:8px;color:#f57224;display:block;font-size:8px;line-height:8px}
    .product-container .ratings span {
        font-size: 8px;
        display:none;
        
    }
    
    
    
    .review-name{margin-bottom:0px}
    .secondary.rating-box{margin-bottom:0.5rem}
    .buyer-name{font-size:14px;text-transform: uppercase;font-weight:600;color:#333}
    .v-buyer{font-style:italic;font-family: Georgia, Times, "Times New Roman", serif;font-size:12px;color:#cacaca}
    .single-review-container .review-headline{font-family: Georgia, Times, "Times New Roman", serif;font-size:14px;font-weight:600;margin-bottom:5px;color:#555555}
    .single-review-container p{font-family: Georgia, Times, "Times New Roman", serif;font-size:14px;margin-bottom:5px}
    .date{font-size:8px;text-transform:uppercase}
    
    
    
    .star-name{width:30%}
    .star-count{width:10%}
    .star-line{width:70%}
    .star-bar-container{background:#eee}
    .star-bar{background:#f57224;height:12px}