<app-top-navigation-bar  [noBackButton]=false [isAdmin]=true [title]="title"></app-top-navigation-bar>

<section class="medium-grey-bg fullheight">
    <div class="callout white-bg padding-center border-bottom form elevate-bottom">
        <input class="light-grey-bg margin-bottom-0"
            style="border:1px solid #eeeeee;padding: 0.5rem !important;" type="text" placeholder="Filter"
            (input)="updateSearchText($event.target.value)">
    </div>

    
    <div class="callout padding-center">
        <button class="button black  expanded" [routerLink]="[ 'add' ]" >
            + Add New Customer
        </button>
    </div>
    
    <div class="white-bg">
        <div class="row">
            <div class="small-12 columns">
                <div class="group-list">
                    <div (click)="viewCustomerDetails(item.customer_id)" class="flex-container align-center" *ngFor="let item of customer">
                        <div class="flex-item flex-05 margin-right-05">
                            <img class="avatar-image" height="45" width="45" src="" alt="">
                        </div>
                        <div class="flex-item flex-3">
                           <div class="list-tile border-bottom">
                            <div class="flex-container align-center ">
                               
                                <div class="flex-item flex-3">
                                    <div class="title">
                                        {{item.first_name}}  {{item.last_name}} 
                                    </div>
                                    <div class="subtitle">
                                        {{item.phone}}
                                    </div>
                                </div>
                                <div class="flex-item flex-05 text-right">
                                   <div class="icon">
                                    <fa-icon [icon]=faChevronRight></fa-icon>
                                   </div>
                                   
                                </div>
                            </div>
                           </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

