<app-top-navigation-bar>
</app-top-navigation-bar>

<app-loading *ngIf="isLoading"></app-loading>

<div class="fullheight white-bg" *ngIf="!isLoading">
    <app-review-item [review]="item" *ngFor="let item of reviews.reviews"></app-review-item>
</div>