<div class="store-profile">

    <img class="cover-image" [src]=business.photos?business.photos[0].image_path:placeholder alt="">


    <div class="content-container">
        <div class="row">
            <div class="small-12 columns">
                <div class="callout">
                    <div class="flex-container align-center white">
                        <div class="flex-item margin-right-05">
                            <img class="avatar-image" height="25px" width="25px" [src]="business.customer?.photo_url" alt="">

                        </div>
                        <div class="flex-item flex-3 text-left">
                            <div class="title white">
                                <span *ngIf="isAdmin">Hi,</span> {{business.customer.name}}
                            </div>
                            <div class="tiny-text" *ngIf="!isAdmin">
                            <fa-icon class="success-color" [icon]=faDotCircle></fa-icon> Last Active {{business.customer.last_active}}
                            </div>
                            <div class="tiny-text" *ngIf="isAdmin">
                                Welcome Back!
                            </div>
                        </div>


                        <div class="flex-item icon flex-05 text-right" (click)="openModal('share')">
                            <fa-icon [icon]="faShare"></fa-icon>

                        </div>
                        <!-- <div class="flex-item icon flex-05 text-right">

                            <fa-icon [icon]="faEllipsisV"></fa-icon>

                        </div> -->

                    </div>


                </div>
                <div class="bottom">
                    <div class="title">
                        <h1 class="margin-bottom-0">{{business.name}}</h1>
                    </div>
                    <span class="small-text">
                        <fa-icon [icon]="faStar"></fa-icon> 4.5 (15)
                    </span>
                    <div class="description">
                        {{business.type}} - Based in {{business.address.city}}
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>



        <!-- WAIT FOR INTERACTION -->
        <app-popup (onClose)="closeModal($event)" [isHalf]="true" [name]="'share'"
            *ngIf="modal.share">

            <div class="padding-centers">
                <div class="row">
                    <div class="small-12 columns">
                   <div class="list-tile">
                    <div class="flex-container align-center">
                        <div class="flex-item flex-1">
                          Business Profile
                        </div>
                        <div class="flex-item flex-1 text-right">
                            <button class="tiny secondary margin-bottom-0" (click)="copyInputMessage('profile')">Copy Link</button>
                      </div>
                    </div>
                   </div>
                      <div class="list-tile">
                    <div class="flex-container align-center">
                        <div class="flex-item flex-1">
                          Pricelist
                        </div>
                        <div class="flex-item flex-1 text-right">
                            <button class="tiny secondary margin-bottom-0"  (click)="copyInputMessage('price')">Copy Link</button>
                      </div>
                    </div>
                   </div>
    
                    </div>
                </div>
            </div>

        </app-popup>

