.avatar-image{
    border:2px solid white;
    
}

.store-profile{
    position: relative;
    color: white !important;
}
.icon{
    font-size:20px !important;
    color: white !important;
}

.content-container{
    
    background: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.store-profile .cover-image{
    -o-object-fit: cover;
    object-fit: cover;
    height: 400px !important;
    width: 500px !important;
}

.bottom{
    position: absolute;
    bottom: 5%;
}