<!-- <app-calendar></app-calendar> -->


<section id="overview" class="padding-center">
    <div class="row">

        <div class="medium-12 columns">
            <div class="label-text huge">

                <div class="title margin-bottom-1">
                  Hello we are digital agency specialised in e-commerce
                </div>
                <div class="description">
                    We combine strategy, branding, and e-commerce to bridge the gap between digital and physical touch points.
We see e-commerce platforms as digital flagship stores. So we intentionally develop platforms as brand experiences that inspire, engage, and convert in an infinite loop.
                </div>
               

            </div>
        </div>

    </div>
</section>

<section class="padding-center">
    <div class="row">

        <div class="medium-6 columns">
            <div class="label-text large margin-bottom-1">
                <div class="label margin-bottom-05 bold">
                    01.
                </div>
                <div class="title margin-bottom-1">
                 E-commerce Solution
                </div>
                <div class="description margin-bottom-2">
                 Setup your business profile, manage booking, scheduling and receive payment easily.
                </div>
                <a href="#" class="bold">Learn More</a>
            </div>
        </div>
        <div class="medium-6 columns">
            <div class="label-text large margin-bottom-1">
                <div class="label margin-bottom-05 bold">
                   02.
                </div>
                <div class="title margin-bottom-1">
                 UI/UX Development
                </div>
                <div class="description margin-bottom-2">
                 Setup your business profile, manage booking, scheduling and receive payment easily.
                </div>
                <a href="#" class="bold">Learn More</a>
            </div>
        </div>
    </div>
</section>


<section id="features" class="padding-middle light-grey-bg">
    <div class="row">
        <div class="medium-8 columns">
            <div class="label-text huge">
                <div class="title">
                    Insight
                </div>
            </div>
            
        </div>
        <div class="medium-12 columns">
            <div class="row small-up-2 medium-up-3">
                <div class="columns">
                    <div class="heading medium">
                        <div class="title">
                            Omnichannel Booking
                        </div>
                        <div class="subtitle">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s
                        </div>

                    </div>
                </div>
                <div class="columns">
                    <div class="heading medium">
                        <div class="title">
                            Online Payment
                        </div>
                        <div class="subtitle">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s
                        </div>

                    </div>
                </div>
                <div class="columns">
                    <div class="heading medium">
                        <div class="title">
                            Reporting
                        </div>
                        <div class="subtitle">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </div>

</section>


<section id="features" class="padding-middle black-bg">
    <div class="row">
        <div class="medium-8 columns">
            <div class="label-text huge white">
                <div class="title">
                    We work with brands we believe in
                </div>
            </div>
            
        </div>
        <div class="medium-12 columns">
            <div class="row small-up-2 medium-up-5">
                <div class="columns">
                    <div class="callout padding-center">
                        <img src="https://pngimg.com/uploads/nike/nike_PNG9.png" alt="">
                    </div>
                   
                </div>
                <div class="columns">
                    <div class="callout padding-center">
                        <img src="https://pngimg.com/uploads/nike/nike_PNG9.png" alt="">
                    </div>
                   
                </div>
                <div class="columns">
                    <div class="callout padding-center">
                        <img src="https://pngimg.com/uploads/nike/nike_PNG9.png" alt="">
                    </div>
                   
                </div>
                <div class="columns">
                    <div class="callout padding-center">
                        <img src="https://pngimg.com/uploads/nike/nike_PNG9.png" alt="">
                    </div>
                   
                </div>
                <div class="columns">
                    <div class="callout padding-center">
                        <img src="https://pngimg.com/uploads/nike/nike_PNG9.png" alt="">
                    </div>
                   
                </div>
               
                
            </div>
        </div>
    </div>

</section>





<div class="card-global-four">
    <img class="image show-for-small-only"
        src="https://images.unsplash.com/photo-1541614101331-1a5a3a194e92?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&h=1000&q=80"
        alt="">

    <img class="image show-for-medium"
        src="https://images.unsplash.com/photo-1541614101331-1a5a3a194e92?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1980&h=1000&q=80"
        alt="">
    <div class="content-container">
        <div class="row">
            <div class="small-12 columns">
                <div class="flex-container padding-center align-center">
                    <div class="flex-item flex-1 white large-text">
                        <h3>notify.</h3>
                    </div>
                    <div class="flex-item white large-text margin-right-2">
                        <a ng-href="#overview" class="huge-text">Product Overview</a>
                    </div>
                    <div class="flex-item white large-text margin-right-2">
                        <a ng-href="/#features" class="huge-text">Features</a>
                    </div>
                    <div class="flex-item white large-text margin-right-2">
                        <a href="#" class="huge-text">Contact</a>
                    </div>
                    <div class="flex-item text-right">
                        <button class="button margin-bottom-0 secondary tiny login" [routerLink]="[ '/auth/login' ]"
                            *ngIf="!isLogin">Login</button>
                        <button class="button margin-bottom-0 secondary tiny login"
                            [routerLink]="[ '/admin/dashboard/'+business_id ]" *ngIf="isLogin">Dashboard</button>

                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">

            <div class="row">

                <div class="medium-9 columns">
                    <div class="label-text huge">

                        <div class="title margin-bottom-1">
                            <h1> Let us simplify your workflow so you can focus on your business</h1>
 
                        </div>
                        <div class="description margin-bottom-1">
                            Setup business profile, manage schedule, booking online and get paid
                           </div>
                        <a href="#" class="button secondary">Learn More</a>



                    </div>
                </div>

            </div>
        </div>
    </div>

</div>




<section class="padding-center">
    <div class="row">

        <div class="medium-6 columns">
            <div class="label-text large">
                <div class="label margin-bottom-05">
                    Friendly Dashboard
                </div>
                <div class="title margin-bottom-1">
                  Manage business from one source
                </div>
                <div class="description">
                 Setup your business profile, manage booking, scheduling and receive payment easily.
                </div>
            </div>
        </div>
        <div class="medium-6 columns">

            <img src="https://marketingplatform.google.com/about/static/images/gmp/homepage-smb-tout.jpg" alt="">
        </div>
    </div>
</section>


<section class="padding-center">
    <div class="row">
        <div class="medium-6 columns">

            <img src="https://marketingplatform.google.com/about/static/images/gmp/gmp-homepage-360-tout.jpg" alt="">
        </div>
        <div class="medium-6 columns">
            <div class="label-text large">
                <div class="label margin-bottom-05">
                   Schedule
                </div>
                <div class="title margin-bottom-1">
                    Flexible scheduling based on your needs
                </div>
                <div class="description">
                    Create an appointment, class or workshop and invite your team or client to the schedule.
                </div>
            </div>
        </div>

    </div>
</section>



<section class="padding-center">
    <div class="row">

        <div class="medium-6 columns">
            <div class="label-text large">
                <div class="label margin-bottom-05">
                    Get Booked
                </div>
                <div class="title margin-bottom-1">
                  Get booked from anywhere anytime
                </div>
                <div class="description">
                    Share your business profile to get booking online
                     or add a new booking when customer visit your offline store.
                </div>
                
            </div>
        </div>
        <div class="medium-6 columns">

            <img src="https://marketingplatform.google.com/about/static/images/gmp/homepage-smb-tout.jpg" alt="">
        </div>
    </div>
</section>



<section id="features" class="padding-middle light-grey-bg">
    <div class="row">
        <div class="medium-8 columns">
            <div class="label-text huge">
                <div class="title">
                    All in one solution for your business needs
                </div>
            </div>
            
        </div>
        <div class="medium-12 columns">
            <div class="row small-up-2 medium-up-3">
                <div class="columns">
                    <div class="heading medium">
                        <div class="title">
                            Omnichannel Booking
                        </div>
                        <div class="subtitle">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s
                        </div>

                    </div>
                </div>
                <div class="columns">
                    <div class="heading medium">
                        <div class="title">
                            Online Payment
                        </div>
                        <div class="subtitle">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s
                        </div>

                    </div>
                </div>
                <div class="columns">
                    <div class="heading medium">
                        <div class="title">
                            Reporting
                        </div>
                        <div class="subtitle">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s
                        </div>

                    </div>
                </div>
                <div class="columns">
                    <div class="heading medium">
                        <div class="title">
                            Scheduling
                        </div>
                        <div class="subtitle">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s
                        </div>

                    </div>
                </div>
                <div class="columns">
                    <div class="heading medium">
                        <div class="title">
                            Notification
                        </div>
                        <div class="subtitle">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s
                        </div>

                    </div>
                </div>
                <div class="columns">
                    <div class="heading medium">
                        <div class="title">
                            Marketing & Loyalty
                        </div>
                        <div class="subtitle">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section  class="padding-center">
    <div class="row">
        <div class="medium-6 columns">
            <img src="https://marketingplatform.google.com/about/static/images/gmp/homepage-hero-mobile.jpg" alt="">
        </div>
        <div class="medium-6 columns">
            <div class="label-text large">
                <div class="label margin-bottom-05">
                    Our Happy Customer
                </div>
                <div class="title margin-bottom-1">
                    "Easy-to-use tools for small businesses
                </div>

                <div class="flex-container">
                    <div class="flex-item margin-right-05">
                        <img height="50" width="50" class="avatar-image" src="https://marketingplatform.google.com/about/static/images/gmp/homepage-hero-mobile.jpg" alt="">
                    </div>
                    <div class="flex-item">
                        <div class="large-text">
                            James Roberto
                        </div>
                        <div class="small-text">
                            James Roberto
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section id="contact" class="padding-middle white black-bg" style="opacity: 0.9;">
    <div class="row">

        <div class="medium-7 medium-centered columns text-center">
            <div class="label-text huge">
                <div class="label margin-bottom-05 white">
                    Free Forever
                </div>
                <div class="title margin-bottom-1">
                    Start getting booked online
                </div>
                <div class="description margin-bottom-2">
                   Getting start is easy. Setup your business profile, create a schedule and start selling
                </div>
                <button class="button secondary">Create Business Profile</button>

            </div>
        </div>

    </div>
</section>


<section class="padding-center black-bg white">
    <div class="row">
        <div class="medium-12 columns">
            <div class="padding-center">
                <div class="row small-up-1 medium-up-4">
                   
                    <div class="columns">
                        <h5 class="uppercase margin-bottom-1">Company</h5>
                        <div class="ul large-text  vertical menu no-bullet margin-bottom-2">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Terms & Privacy</a></li>
                            <li><a href="#">Notify Studio</a></li>
                        </div>
                    </div>
                    <div class="columns">
                        <h5 class="uppercase margin-bottom-1">Support</h5>
                        <div class="ul large-text  vertical menu no-bullet margin-bottom-2">
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Help Center</a></li>
                            <li><a href="#">Product Training</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Contact</a></li>

                        </div>
                    </div>
                    <div class="columns">
                        <h5 class="uppercase margin-bottom-1">Resource</h5>
                        <div class="ul large-text  vertical menu no-bullet margin-bottom-2">
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Inspiration</a></li>
                            <li><a href="#">Free Template</a></li>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="margin-bottom-1">
                         <h3>Notify</h3>
                        </div>
                         <div class="flex-container">
                             <div class="flex-item margin-right-05">
                                 <img src="assets/icons/AppStore.svg" alt="">
                             </div>
                             <div class="flex-item">
                                 <img src="assets/icons/PlayStore.svg" alt="">
                             </div>
                         </div>
                         
                     </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div class="padding-center" style="border-top: 1px solid #333333;">
                <div class="flex-container ">
                    <div class="flex-item flex-1">
                        <p class="small-text">© Notify 2020 | Made in Indonesia</p>
                    </div>
                    <div class="flex-item text-right margin-right-05">
                        <a href="#">IG</a>
                    </div>
                    <div class="flex-item text-right margin-right-05">
                        <a href="#">FB</a>
                    </div>
                    <div class="flex-item text-right">
                        <a href="#">IG</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>