
<div class="tab-bar border-bottom white-bg">
   <div class="row">
       <div class="small-12 columns">
        <div class="flex-container">
            <div class="flex-item margin-right-1" *ngFor="let item of items">
                <div class="link" [routerLink]="['./']" [queryParams]="{ active_tab: item.id}"  [ngClass]="{'active': item.id==active_tab}">
                   <span>{{item.name}}</span>
                </div>
            </div>

        </div>
       </div>
   </div>
</div>