<div class="padding-center white-bg margin-bottom-05">
    <div class="row">
        <div class="small-12 columns">
            <h3>Photo Gallery</h3>

        </div>
    </div>
    <div class="row small-collapse">
        <div class="small-12 column">
            <div class="flex-container scroll-container">
                <div class="flex-item scroll-item-45" *ngFor="let item of photos">
                  
                    <div class="image-item">
                        <img [src]=item.image_path alt="">
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <div class="callout padding-center" *ngIf="isAdmin">
        <button [routerLink]="[ 'photo-gallery']" class="button expanded secondary">Edit Gallery</button>
    </div>
</div>