.image-item{
    width: 100%;
  padding-bottom: 100%;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.image-item img {
    position: absolute;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }