<section class="padding-center">
    <div class="row">
        <div class="small-12 column">
            <h3>Today Appointment</h3>
            <div class="list-tile border-bottom" *ngFor="let item of [].constructor(2)">
                <div class="flex-container"  [routerLink]="[ 'view/schedule_id/id' ]">
                    <div class="flex-item flex-05 text-right margin-right-05">
                        <div class="title bold margin-bottom-05">
                         <h3>08:00</h3>
                        </div>
                       
                    </div>
                    <div class="flex-item flex-2 margin-right-05">
                        <div class="title">
                           Gentleman Haircut
                        </div>
                        <div class="subtitle">
                            Service yang mencabut bulu - bulu tifis
                        </div>
                        
                        <div class="tiny-text">
                          Participant 1
                         </div>
                    </div>
                    <div class="flex-item flex-1 text-right">
                        <img class="avatar-image margin-bottom-1" src="https://via.placeholder.com/500x500" alt="" style="height: 35px;width:35px;">
      
                       
                    </div>
                </div>
            </div>
            <div class="callout">
                <button [routerLink]="[ '/admin/schedule' ]" class="button primary hollow small expanded">
                    View All Schedule
                </button>
            </div>
        </div>
    </div>
</section>