<div class="row small-collapse medium-collapse">
    <div class="medium-3 columns show-for-medium light-grey-bg">
        <app-desktop-sidebar></app-desktop-sidebar>
    </div>
    <div class="medium-9 columns medium-grey-bg">

        <app-top-navigation-bar [noBackButton]=true [border]=false [isAdmin]=true [title]="title">
        </app-top-navigation-bar>
       
        <app-tab-bar [items]=tabs></app-tab-bar>



       
        <div class="callout form padding-center white-bg elevate-bottom">
            <input class="margin-bottom-0 light-grey-bg" style="border:1px solid #eeeeee;padding: 0.5rem !important;" type="number" placeholder="search order number"
                [value]="search" (input)="updateSearchText($event.target.value)" />

        </div>

        <div class="callout padding-center">
            <button class="button black  expanded" [routerLink]="[ 'add' ]" [queryParams]="{step:1 }">
                + Add New Booking
            </button>
        </div>


        <section class="main-content fullheight medium-grey-bg">

            <div class="row small-collapse medium-uncollapse">
                <div class="small-12 columns">

                    <div *ngIf="isLoading">
                        <div class="callout white-bg padding-center elevate-bottom">
                            <app-list-tile-placeholder></app-list-tile-placeholder>

                        </div>
                        <div class="callout white-bg padding-center margin-bottom-05 elevate-bottom">
                            <app-list-tile-placeholder></app-list-tile-placeholder>

                        </div>
                    </div>
                    <div *ngIf="!isLoading">
                        <div *ngIf="booking?.length > 0">
                            <div class="row">
                                <div class="small-12 columns">
                                    <h5>Today</h5>
                                  
                                </div>
                            </div>
                            <div class="group-list margin-bottom-2 ">
                                <div class="list-tile border-bottom white-bg elevate-bottom padding-center"
                                    *ngFor="let item of booking">
    
    
                                    <div class="flex-container" [routerLink]="[ 'view/booking_id/',item.id ]">
    
                                        <div class="flex-item flex-3 margin-right-1">
                                          
    
    
                                            <div class="title">
                                                {{item.products[0].name}}
                                            </div>
                                          
                                            
                                            <div class="subtitle ">
                                               {{ item.from_date | date }}, {{item.from_time}}
                                            </div>
                                            <div class="subtitle  margin-bottom-05">
                                                {{item.customer.name}}    
                                            </div>

                                            <div class="subtitle tiny-text">
                                                <fa-icon class="tiny-text success-color" [icon]=faCircle></fa-icon>
                                                {{item.status_label}}
                                            </div>

                                           
                                        
    
    
    
    
                                        </div>
                                        <div class="flex-item flex-1 text-right">
                                           
    
                                            <div class="title">
                                                #{{item.increment_id}}
                                            </div>
    
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                            <div class="callout"></div>
                        </div>
                        <div class="callout padding-center" *ngIf="booking==null">
                            No Booking Found
                        </div>
                      
                    </div>
                </div>

            </div>

        </section>
        <app-bottom-navigation-bar [isAdmin]=true></app-bottom-navigation-bar>

    </div>
</div>
