<div class="row small-collapse medium-collapse ">
    <div class="medium-3 columns show-for-medium light-grey-bg">
        <app-desktop-sidebar></app-desktop-sidebar>

    </div>
    <div class="medium-9 columns medium-grey-bg">
        <app-top-navigation-bar [noBackButton]=true [isAdmin]=true [title]="title"></app-top-navigation-bar>
        <app-tab-bar [items]=tabs></app-tab-bar>
       

        <section *ngIf="active_tab=='1'" class="service main-content medium-grey-bg fullheight">
            <div class="callout padding-center">
                <button [disabled]=isUpdate class="button black expanded" (click)="addProduct()">
                    {{actionButton}}
                </button>
            </div>
            <div class="row small-collapse medium-uncollapse">
                <div class="small-12 columns">
                    <div *ngIf="isLoading">
                        <div class="callout white-bg padding-center elevate-bottom">
                            <app-list-tile-placeholder></app-list-tile-placeholder>

                        </div>
                        <div class="callout white-bg padding-center margin-bottom-05 elevate-bottom">
                            <app-list-tile-placeholder></app-list-tile-placeholder>

                        </div>
                    </div>
                    <div *ngIf="!isLoading">
                        <div class="list-tile white-bg padding-center border-bottom"
                            *ngFor="let item of product; let i = index">
                            <div class="margin-bottom-05" *ngIf="item.status==false">
                                <span class="label warning">Disabled</span>
                            </div>
                            <div class="margin-bottom-05" *ngIf="item.status==true">
                                <span class="label success">Enable</span>
                            </div>
                            <div class="flex-container">

                                <div class="flex-item flex-2 margin-right-05">

                                    <div class="title">
                                        {{item.name?item.name:'Service name here'}}
                                    </div>
                                    <div class="subtitle margin-right-05 margin-bottom-1">
                                        {{item.short_description? (item.short_description  | slice:0:30) :'please add description to your service'}}



                                    </div>


                                    <a class="bold  margin-bottom-0 secondary margin-right-1"
                                        [routerLink]="[ 'view/service_id/', item.id ]">
                                        Edit
                                    </a>
                                    <a class="bold  margin-bottom-0 secondary" (click)="removeProduct(item.id,i)">
                                        Remove
                                    </a>
                                </div>
                                <div class="flex-item flex-1 text-right">
                                    <div class="title margin-bottom-05">




                                        <ng-container *ngIf="item.special_price==null; else elseTemplate">

                                            <span class="tiny-text">IDR</span> {{item.price | number}}

                                        </ng-container>
                                        <ng-template #elseTemplate>


                                            <div><span class="tiny-text">IDR</span> {{item.special_price | number}}
                                            </div>
                                            <div class="tiny-text discount">{{item.price | number}}
                                            </div>

                                        </ng-template>




                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="callout padding-center margin-bottom-2"></div>
                    </div>

                </div>
            </div>
        </section>
        <section *ngIf="active_tab=='2'" class="category main-content medium-grey-bg fullheight">
            <div class="callout padding-center">
                <button [disabled]=isUpdate class="button black expanded" (click)="addCategory()">
                   + Add New Category
                </button>
            </div>
            <div class="row small-collapse medium-uncollapse">
                <div class="small-12 columns">
                    <div *ngIf="isLoading">
                        <div class="callout white-bg padding-center elevate-bottom">
                            <app-list-tile-placeholder></app-list-tile-placeholder>

                        </div>
                        <div class="callout white-bg padding-center margin-bottom-05 elevate-bottom">
                            <app-list-tile-placeholder></app-list-tile-placeholder>

                        </div>
                    </div>
                    <div *ngIf="!isLoading">
                        <div class="list-tile white-bg padding-center border-bottom" *ngFor="let item of category; let i = index">
                            <div class="margin-bottom-05" *ngIf="item.status==false">
                                <span class="label warning">Disabled</span>
                            </div>
                            <div class="margin-bottom-05" *ngIf="item.status==true">
                                <span class="label success">Enable</span>
                            </div>
                            <div [routerLink]="[ 'view/category_id/', item.id ]" class="flex-container">
                                <div class="flex-item flex-2 margin-right-05">
                                    <div class="title">
                                        {{item.name?item.name:'Category name here'}}
                                    </div>
                                    <div class="subtitle margin-right-05 margin-bottom-1">
                                        {{item.associate_product?.length}} Product(s) on this category
                                    </div>

                                </div>
                                <div class="flex-item flex-1 text-right">
                                    <div class="icon margin-bottom-05">
                                        <fa-icon [icon]=faChevronRight></fa-icon>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="callout padding-center margin-bottom-2"></div>
                    </div>

                </div>
            </div>
        </section>

        <app-bottom-navigation-bar [isAdmin]=true></app-bottom-navigation-bar>
    </div>
</div>
