<div class="row small-collapse medium-collapse">
    <div class="medium-3 columns show-for-medium light-grey-bg">
        <app-desktop-sidebar></app-desktop-sidebar>

    </div>
    <div class="medium-9 columns white-bg fullheight">

        <app-top-navigation-bar [isAdmin]=true [border]=true></app-top-navigation-bar>

        <div class="callout white-bg padding-center elevate-bottom margin-bottom-1">
            <div class="flex-container">
                <div class="flex-item flex-05 margin-right-05">
                    <button class="button secondary rounded">
                        <div class="tiny-text bold uppercase">
                            {{schedule.from_date | date:"MMM"}}
                        </div>
                        <div class="huge-text bold">
                            {{schedule.from_date | date:"dd"}}
                        </div>
                    </button>
                </div>
                <div class="flex-item flex-4">
                    <div class="tiny-text uppercase">
                        Appointment
                    </div>
                    <div class="title">
                        <h3> {{schedule.from_time}}</h3>


                    </div>

                </div>
                <div class="flex-item flex-05">
                    <button class="button secondary tiny">Reschedule</button>
                </div>
            </div>
        </div>

        <div class="callout white-bg padding-center margin-bottom-1">
            <div class="group-list margin-bottom-2">
                <div class="list-tile border-bottom">
                    <div class="flex-container align-center">
                        <div class="flex-item flex-1">

                            <div class="title">
                                Staff
                            </div>

                        </div>
                        <div class="flex-item flex-1 text-right">

                            <div class="subtitle">
                                Any
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-tile border-bottom">
                    <div class="flex-container align-center">
                        <div class="flex-item flex-1">

                            <div class="title">
                                Payment
                            </div>

                        </div>
                        <div class="flex-item flex-1 text-right">

                            <div class="subtitle">
                                Unpaid
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-tile border-bottom">
                    <div class="flex-container align-center">
                        <div class="flex-item flex-1">

                            <div class="title">
                                Service Fee
                            </div>

                        </div>
                        <div class="flex-item flex-1 text-right">

                            <div class="subtitle">
                                {{schedule.grand_total | currency:'IDR'}}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-tile">
                    <div class="subtitle">
                        Note
                    </div>
                    <div class="title">

                    </div>
                </div>


            </div>
        </div>

        <div class="callout white-bg padding-center margin-bottom-1">
            <div class="flex-container">

                <div class="flex-item flex-2">
                    <div class="title">
                        {{schedule.customer.name}}
                    </div>
                    <div class="subtitle">
                        {{schedule.customer.phone}}

                    </div>

                </div>
                <div class="flex-item flex-05 margin-right-05">
                    <a href="tel:{{schedule.customer.phone}}" class="margin-bottom-0 button tiny rounded secondary">
                        Call
                    </a>
                </div>
                <div class="flex-item flex-05">
                    <a href="mailto:{{schedule.customer.email}}"
                        class="margin-bottom-0 button tiny rounded secondary expanded">
                        Email
                    </a>
                </div>
            </div>
        </div>


    </div>
</div>
