<div [id]="name" [ngClass]="class">
    <div class="slideup-content">
        <div class="callout border-bottom">
            <div class="row">
                <div class="small-12 columns">
                    <div class="icon" (click)="close()">
                        <fa-icon class="huge-text" [icon]="faTimes"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
        
       <ng-content></ng-content>
    </div>
</div>