<div class="callout padding-center border-top light-grey-bg">
    <div class="flex-container small-text">
        <div class="flex-item flex-3">
            2020 Wearinasia | All Right Reserved
        </div>
        <div class="flex-item flex-05 text-right">
          
        </div>
        <div class="flex-item flex-05 text-right">
            
        </div>
    </div>
</div>