.calendar-item{
    
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 16px;
 
    border-radius:100%;
  }
  
  .calendar-item.active{
   background-color: black;
   color: white;
  }
  