<div class="row small-collapse medium-collapse">
    <div class="medium-3 columns show-for-medium light-grey-bg">
        <app-desktop-sidebar></app-desktop-sidebar>

    </div>
    <div class="medium-9 columns medium-grey-bg">
        <app-top-navigation-bar [noBackButton]=true [isAdmin]=true [title]="title"></app-top-navigation-bar>

        <app-tab-bar [items]=tabs></app-tab-bar>

        <!-- <app-calendar-item></app-calendar-item> -->

        <div class="callout white-bg elevate-bottom margin-bottom-1">
            <div class="row">
                <div class="small-12 columns">
                    <div class="row small-collapse small-up-7">
                     

                        <div class="columns" *ngFor="let item of calendar">
                            <div class="text-center" (click)="setDate(item)">
                                <div class="tiny-text bold uppercase margin-bottom-05">
                                    {{item | date:"EEE"}}

                                 
                                </div>
                                <div  class="secondary calendar-item" [ngClass]="{'active': getSelectedDate(item) }">
                                    {{item | date:"dd"}}
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <section class="main-content fullheight medium-grey-bg">
            <div class="row small-collapse">
                <div class="small-12 columns">
                    <div *ngIf="!isLoading">
                        <div class="row">
                            <div class="small-12 columns">
                                <div *ngIf="!schedule">
                                    <h5>You dont have any appointment for this date</h5>
                                </div>
                                <div *ngIf="schedule">
                                    <h5>You have {{schedule?.length}} appointment for this date</h5>
                                </div>

                            </div>
                        </div>

                        <div class="group-list white-bg margin-bottom-2" *ngIf="schedule">
                           <div class="row">
                               <div class="small-12 columns">
                                <div class="" *ngFor="let item of schedule">
                                    <div class="flex-container" style="align-items: baseline;"  (click)="viewBooking(item.id)">
    
                                        <div class="flex-item flex-05 text-left margin-right-05">
                                            <div class="small-text bold margin-bottom-05">
                                                {{item.from_time}}
                                            </div>
                                           
                                           
                                        </div>
    
                                        <div class="flex-item flex-3 ">
                                            <!-- <span class="label success">
                                                 {{item?.type}}
                                             </span> -->
                                           <div class="callout border-bottom  ">
                                            <div class="flex-container ">
                                                <div class="flex-item flex-1">
                                                   <div class="title">
                                                       {{item?.product.name}}
                                                   </div>
                                                   <div class="subtitle margin-bottom-05">
                                                       {{item?.customers.name}}
                                                   </div>
                                                   <div class="tiny-text">
                                                       <fa-icon class="tiny-text success-color" [icon]=faCircle></fa-icon>  {{item?.status_label}}
                                                   </div>
                                                </div>
                                                <div class="flex-item flex-1 text-right">
                                                   <img class="avatar-image margin-bottom-1" [src]="item.customers.photo_url"
                                                       alt="" style="height: 35px;width:35px;">
           
                                               </div>
                                            </div>
    
                                           </div>
                                           
    
    
                                        </div>
                                        
                                    </div>
                                </div>
                               </div>
                           </div>
                        </div>
                    </div>
                    <div *ngIf="isLoading">
                        <div class="callout white-bg padding-center elevate-bottom">
                            <app-list-tile-placeholder></app-list-tile-placeholder>

                        </div>
                        <div class="callout white-bg padding-center margin-bottom-05 elevate-bottom">
                            <app-list-tile-placeholder></app-list-tile-placeholder>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <app-bottom-navigation-bar [isAdmin]=true></app-bottom-navigation-bar>

    </div>
</div>