<div class="padding-center white-bg">
    <div class="row">
        <div class="small-12 columns">
           
            <div class="list-tile margin-bottom-1" *ngFor="let item of product">
                <div class="flex-container">
                   
                    <div class="flex-item flex-3 margin-right-05">
                        <div class="title margin-bottom-05">
                            {{item.name}}
                        </div>
                        <div class="subtitle">
                            {{item.short_description}}
                        </div>
                    </div>
                    <div class="flex-item flex-1 text-right">
                        <div class="title margin-bottom-05">
                            <span class="tiny-text">IDR</span> {{item.price}}
                        </div>
                        <button class="button tiny expanded secondary" (click)="Click('1')">
                            Edit
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
