<div class="row small-collapse medium-collapse">
    <div class="medium-3 columns show-for-medium light-grey-bg">
        <app-desktop-sidebar></app-desktop-sidebar>

    </div>
    <div class="medium-9 columns white-bg fullheight">

        <app-top-navigation-bar [border]=true [isAdmin]=true [title]=title></app-top-navigation-bar>

        <section class="main-content medium-grey-bg fullheight step-1" *ngIf="active_step=='1'">
            <div class="row small-collapse medium-uncollapse">
                <div class="small-12 columns">

                    <div *ngIf="!isLoading">
                        <div class="callout padding-center white-bg border-bottom elevate-bottom"
                            *ngFor="let item of product">
                            <div class="margin-bottom-05" *ngIf="item.special_price!==null">
                                <span class="label success">Promo</span>
                            </div>
                            <div class="flex-container">

                                <div class="flex-item flex-2 margin-right-05">

                                    <div class="title">
                                        {{item.name}}
                                    </div>
                                    <div class="subtitle margin-bottom-05">

                                        {{ (item.short_description?.length>60)? (item.short_description | slice:0:60)+'..':(item.short_description) }}
                                    </div>
                                    <!-- <a class="primary-color bold">
                                        View Details
                                    </a> -->
                                </div>
                                <div class="flex-item flex-1 text-right">


                                    <div class="title margin-bottom-1">

                                        <ng-container *ngIf="item.special_price==null; else elseTemplate">

                                            <span class="tiny-text">IDR</span> {{item.price | number}}

                                        </ng-container>
                                        <ng-template #elseTemplate>
                                            <div><span class="tiny-text">IDR</span> {{item.special_price | number}}
                                            </div>
                                            <div class="tiny-text discount">{{item.price | number}}
                                            </div>
                                        </ng-template>

                                    </div>

                                    <button class="button tiny secondary" [routerLink]="[ '../add' ]"
                                        [queryParams]="{step:2,product_id:item.id }" queryParamsHandling="merge">
                                        Book
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div *ngIf="isLoading">
                        <div class="callout white-bg padding-center">
                            <app-list-tile-placeholder></app-list-tile-placeholder>
                            <app-list-tile-placeholder></app-list-tile-placeholder>
                            <app-list-tile-placeholder></app-list-tile-placeholder>

                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="main-content medium-grey-bg fullheight  step-2" *ngIf="active_step=='2'">
            <div class="row small-collapse medium-uncollapse">
                <div class="small-12 columns">

                    <div class="list-tile padding-center white-bg margin-bottom-1" [routerLink]="[ '../add' ]"
                        [queryParams]="{step:3 }" queryParamsHandling="merge">
                        <div class="flex-container">
                            <!-- <div class="flex-item flex-05 margin-right-05">
                                <img src="https://images.unsplash.com/photo-1513097847644-f00cfe868607?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=100&h=100&q=80"
                                    alt="" class="avatar-image">

                            </div> -->
                            <div class="flex-item flex-2 margin-right-05">
                                <div class="title">
                                    Any Staff
                                </div>

                            </div>
                            <div class="flex-item flex-05 text-right">
                                <button class="button tiny expanded secondary">
                                    Select
                                </button>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="main-content medium-grey-bg fullheight step-3" *ngIf="active_step=='3'">
            <div class="row small-collapse medium-uncollapse">
                <div class="small-12 columns">
                    <div class="list-tile white-bg padding-center border-bottom" (click)="openModal('selectDate')">
                        <div class="flex-container align-center">

                            <div class="flex-item flex-3">
                                <div class="subtitle" *ngIf="from_date">
                                    Request Date
                                </div>
                                <div class="title">

                                    {{from_date? from_date : 'Request Date'}}

                                </div>

                            </div>
                            <div class="flex-item flex-05 margin-right-05 text-right">
                                <div class="icon">
                                    <fa-icon class="primary-color" [icon]="faChevronRight"></fa-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-tile white-bg padding-center margin-bottom-05" (click)="openModal('selectTime')">
                        <div class="flex-container align-center">

                            <div class="flex-item flex-3">
                                <div class="subtitle" *ngIf="from_time">
                                    Request Time
                                </div>
                                <div class="title">
                                    {{from_time?from_time:'Request Time'}}
                                </div>

                            </div>
                            <div class="flex-item flex-05 margin-right-05 text-right">
                                <div class="icon">
                                    <fa-icon class="primary-color" [icon]="faChevronRight"></fa-icon>


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="padding-center white-bg">

                      <div class="row">
                          <div class="medium-12 columns">
                            <form class="form margin-bottom-05" (ngSubmit)="addBooking()" [formGroup]="bookingForm">


                                <label for="name">Name</label>
                                <input type="text" formControlName="customer_name" required>
    
    
                                <div *ngFor="let error of bookingForm.controls.customer_name.errors | keyvalue">
                                    <p class="error" *ngIf="!bookingForm.controls.customer_name.pristine">
                                        {{formErrorMsg[error.key]}}</p>
                                </div>
    
                                <label for="email">Email</label>
                                <input type="text" formControlName="customer_email">
                                <div *ngFor="let error of bookingForm.controls.customer_email.errors | keyvalue">
                                    <p class="error" *ngIf="!bookingForm.controls.customer_email.pristine">
                                        {{formErrorMsg[error.key]}}</p>
                                </div>
                                <label for="phone">Phone</label>
                                <input type="tel" formControlName="customer_phone">
                                <button [disabled]="isUpdate" type="submit" class="button expanded primary">Add
                                    Order</button>
                            </form>
                            <p class="text-center">Confirm booking to get your booking number. Please check your email
                                after submiting for more information</p>
    
                          </div>
                      </div>

                    </div>
                </div>
            </div>


            <!-- WAIT FOR INTERACTION -->
            <app-popup (onClose)="closeModal($event)" [isHalf]="true" [name]="'selectDate'" *ngIf="modal.selectDate">
                <app-calendar (onSelect)="selectDate($event)"></app-calendar>
            </app-popup>

            <!-- WAIT FOR INTERACTION -->
            <app-popup (onClose)="closeModal($event)" [isHalf]="true" [name]="'selectTime'" *ngIf="modal.selectTime">
                <div class="padding-center">
                    <div class="row">
                        <div class="small-12 columns">


                            <div class="group-list">
                                <div class="list-tile border-bottom" *ngFor="let item of time">
                                    <div class="flex-container" (click)="selectTime(item)">
                                        <div class="flex-item flex-1">
                                            <div class="title">
                                                {{ item | date:"HH:mm" }}
                                            </div>
                                        </div>
                                        <div class="flex-item flex-1 text-right">
                                            <div class="title primary-color">
                                                Select
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </app-popup>
        </section>


    </div>
</div>
