<div class="list-tile">
    <div >
        <span class="tiny-text title loading">This is label</span>
        
    </div>
    <div >
        <span class="title loading">This is placeholder yes</span>
        
    </div>
</div>