
<app-top-navigation-bar [title] = title ></app-top-navigation-bar>


<div class="fullheight padding-center" >

    <div class="row">
        <div class="medium-12 columns">
            <form class="form margin-bottom-2" [formGroup]="loginForm" >
                <label for="email">Email</label>
                <input type="text" formControlName="email">
        
                <div *ngFor="let error of loginForm.controls.email.errors | keyvalue">
                    <p class="error" *ngIf="!this.loginForm.controls.email.pristine">{{formErrorMsg[error.key]}}</p>
                </div>
        
                <label for="password">Password</label>
                <input type="password" formControlName="password">
        
                <div *ngFor="let error of loginForm.controls.password.errors | keyvalue">
                    <p class="error" *ngIf="!this.loginForm.controls.password.pristine">{{formErrorMsg[error.key]}}</p>
                </div>
        
            </form>
            
            <button class="button expanded primary" [disabled]="!loginForm.valid || isLoading"(click)="login()">Login</button>
        
            
           
        </div>
    </div>
   

   
</div>
