<div class="row small-collapse medium-collapse">
    <div class="medium-3 columns show-for-medium light-grey-bg">
        <app-desktop-sidebar></app-desktop-sidebar>

    </div>
    <div class="medium-9 columns">
        <app-top-navigation-bar [routerLink]=routerLink [isPop]=true [isAdmin]=true></app-top-navigation-bar>
        <div class="row">
            <div class="medium-12 columns">
                <div class="label-text medium">
                    <div class="title">

                        {{this.categoryForm.get('name').value?this.categoryForm.get('name').value:'Edit Category'}}
                    </div>
                </div>
            </div>
        </div>
        <app-tab-bar [items]=tabs></app-tab-bar>
        <section class="category main-content" *ngIf="active_tab=='1'">
            <div *ngIf="!isLoading">
                <div class="row">
                    <div class="medium-12 columns">
                        <form class="form margin-bottom-2" [formGroup]="categoryForm">
                            <div class="list-tile">
                                <div class="flex-container align-center">
                                    <div class="flex-item flex-3">
                                        <div class="title">
                                            Enable
                                        </div>
                                    </div>
                                    <div class="flex-item flex-05 text-right">
                                        <label class="switch">
                                            <input formControlName="status" type="checkbox" [checked]=product.status
                                                (change)="toggleCheckbox('status',$event)">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <label for="name">Category Name</label>
                            <input type="text" formControlName="name">
                            <!-- <div *ngFor="let error of categoryForm.controls.name.errors | keyvalue">
                                <p class="error" *ngIf="!categoryForm.controls.name.pristine">
                                    {{formErrorMsg[error.key]}}</p>
                            </div> -->



                            <label for="short_description">Short Description</label>
                            <input type="text" formControlName="short_description">

                            <label for="description">Long Description</label>

                            <textarea formControlName="description" cols="30" rows="2"></textarea>




                        </form>


                    </div>
                </div>
                <div class="callout white-bg elevate-top stick-bottom padding-center">
                    <button class="button black expanded" (click)="updateCategory()">Save</button>
                </div>
            </div>

        </section>
        <section class="associate-product main-content" *ngIf="active_tab=='2'">
            <div *ngIf="!isLoading">
                <div class="callout padding-center border-bottom form elevate-bottom margin-bottom-1">
                    <input class="light-grey-bg margin-bottom-0"
                        style="border:1px solid #eeeeee;padding: 0.5rem !important;" type="text" placeholder="Filter"
                        (input)="updateSearchText($event.target.value)">
                </div>
                <div class="row">
                    <div class="medium-12 columns">
                        <div class="group-list">

                            <div class="list-tile border-bottom" *ngFor="let item of product">
                                <label class="container-checkbox">

                                    <div class="flex-container align-center">
                                        <div class="flex-item text-left margin-right-1">
                                            <input type="checkbox" [value]="item.id"
                                                (input)="selectAssociateProduct($event)"
                                                [checked]="checkSelectedAssociateProduct(item)">
                                            <span class="checkmark"></span>
                                        </div>
                                        <div class="flex-item flex-1">
                                            <div class="title">
                                                {{item.name}}
                                            </div>

                                        </div>
                                        <div class="flex-item flex-1 text-right">
                                            <div class="title">
                                                <ng-container *ngIf="item.special_price==null; else elseTemplate">
                                                    <span>IDR</span> {{item.price | number}}

                                                </ng-container>
                                                <ng-template #elseTemplate>
                                                    <div><span>IDR</span> {{item.special_price | number}}
                                                    </div>

                                                </ng-template>

                                            </div>
                                        </div>
                                    </div>

                                </label>

                            </div>


                        </div>
                        <div class="callout padding center margin-bottom-4">
                        </div>
                        <div class="callout padding center margin-bottom-4">
                        </div>
                    </div>
                </div>
                <div class="callout white-bg elevate-top stick-bottom padding-center">
                    <button class="button black expanded" (click)="updateCategory()">Save</button>
                </div>
            </div>

        </section>
    </div>
</div>
