<app-top-navigation-bar [border]=true [title]=title *ngIf="!isShowBookingForm !== true"></app-top-navigation-bar>

<section class="main-content step-1 medium-grey-bg fullheight" *ngIf="active_step==1 || active_step==null">
    <div class="row small-collapse medium-uncollapse">
        <div class="small-12 columns">
            <div *ngIf="!isLoading">
                <div class="callout padding-center white-bg border-bottom elevate-bottom" *ngFor="let item of product">
                    <div class="margin-bottom-05" *ngIf="item.special_price!==null">
                        <span class="label success">Promo</span>
                    </div>
                    <div class="flex-container">
                        
                        <div class="flex-item flex-2 margin-right-05">
                            
                            <div class="title">
                                {{item.name}}
                            </div>
                            <div class="subtitle margin-bottom-05">
                               
                                {{ (item.short_description?.length>60)? (item.short_description | slice:0:60)+'..':(item.short_description) }}
                            </div>
                            <a class="small-text uppercase primary-color bold" (click)="viewDetails(item)">
                                Details
                            </a>
                        </div>
                        <div class="flex-item flex-1 text-right">


                            <div class="title margin-bottom-1">

                                <ng-container *ngIf="item.special_price==null; else elseTemplate">

                                    <span class="tiny-text">IDR</span> {{item.price | number}}

                                </ng-container>
                                <ng-template #elseTemplate>
                                    <div><span class="tiny-text">IDR</span> {{item.special_price | number}}
                                    </div>
                                    <div class="tiny-text discount">{{item.price | number}}
                                    </div>
                                </ng-template>

                            </div>

                            <button class="button tiny secondary" [routerLink]="[ '../booking' ]"
                                [queryParams]="{step:2,product_id:item.id }" queryParamsHandling="merge">
                                Book
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <div *ngIf="isLoading">
                <div class="callout white-bg padding-center">
                    <app-list-tile-placeholder></app-list-tile-placeholder>
                    <app-list-tile-placeholder></app-list-tile-placeholder>
                    <app-list-tile-placeholder></app-list-tile-placeholder>

                </div>
            </div>

        </div>
    </div>

    <app-popup (onClose)="closeModal($event)" [isHalf]="true" [name]="'viewDetails'" *ngIf="modal.viewDetails">
        <div class="row">
            <div class="small-12 columns">
                <div *ngIf="selectedItem">
                  
                   <div class="callout border-bottom">
                    <div class="flex-container">
                        
                        <div class="flex-item flex-2 margin-right-05">
                            
                            <div class="title">
                                {{selectedItem.name}}
                            </div>
                         
                            
                        </div>
                        <div class="flex-item flex-1 text-right">


                            <div class="title margin-bottom-1">

                                <ng-container *ngIf="selectedItem.special_price==null; else elseTemplate">

                                    <span class="tiny-text">IDR</span> {{selectedItem.price | number}}

                                </ng-container>
                                <ng-template #elseTemplate>
                                    <div><span class="tiny-text">IDR</span> {{selectedItem.special_price | number}}
                                    </div>
                                    <div class="tiny-text discount">{{selectedItem.price | number}}
                                    </div>
                                </ng-template>

                            </div>

                        </div>

                    </div>
                   </div>
                   <div class="callout">
                    <div class="subtitle margin-bottom-05">
                               
                        {{selectedItem.short_description}}
                    </div>

                    <div class="subtitle margin-bottom-05">
                       
                        {{selectedItem.description}}
                    </div>
                   </div>
                   
                  <div class="callout">
                    <button class="button black expanded" [routerLink]="[ '../booking' ]"
                    [queryParams]="{step:2,product_id:selectedItem.id }" queryParamsHandling="merge">Book Now</button>
                  </div>
                    
                </div>
            </div>
        </div>
    </app-popup>

    
   
    
</section>

<section class="medium-grey-bg step-2" *ngIf="active_step==2">

    <div class="row small-collapse medium-uncollapse">
        <div class="small-12 columns">
            <div *ngIf="isShowBookingForm">
                <div class="callout hide white-bg padding-center margin-bottom-05 elevate-bottom">
                    <div class="flex-container">
                        <div class="flex-item flex-05 margin-right-05">
                            <img class="avatar-image" height="50px" width="50px" [src]="" alt="">
                        </div>
                        <div class="flex-item flex-3">
                            <div class="title">
                                Product Name
                            </div>
                            <div class="subtitle">
                                IDR 3123
                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-tile white-bg padding-center border-bottom" (click)="openModal('selectDate')">
                    <div class="flex-container align-center">

                        <div class="flex-item flex-3">
                            <div class="subtitle" *ngIf="from_date">
                                Request Date
                            </div>
                            <div class="title">

                                {{from_date? from_date : 'Request Date'}}
                                
                              

                            </div>

                        </div>
                        <div class="flex-item flex-05 margin-right-05 text-right">
                            <div class="icon">
                                <fa-icon class="primary-color" [icon]="faChevronRight"></fa-icon>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-tile white-bg padding-center margin-bottom-05" (click)="openModal('selectTime')">
                    <div class="flex-container align-center">

                        <div class="flex-item flex-3">
                            <div class="subtitle" *ngIf="from_time">
                                Request Time
                            </div>
                            <div class="title">
                                {{from_time?from_time:'Request Time'}}
                            </div>

                        </div>
                        <div class="flex-item flex-05 margin-right-05 text-right">
                            <div class="icon">
                                <fa-icon class="primary-color" [icon]="faChevronRight"></fa-icon>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="padding-center white-bg">
                    <div class="row">
                        <div class="small-12 columns">
                            <form class="form margin-bottom-05" (ngSubmit)="addBooking()" [formGroup]="bookingForm">
                                <label for="name">Name</label>
                                <input type="text" formControlName="customer_name" required>
                                <div *ngFor="let error of bookingForm.controls.customer_name.errors | keyvalue">
                                    <p class="warning-color" *ngIf="!bookingForm.controls.customer_name.pristine">
                                        {{formErrorMsg[error.key]}}</p>
                                </div>

                                <label for="email">Email</label>
                                <input type="text" formControlName="customer_email">
                                <div *ngFor="let error of bookingForm.controls.customer_email.errors | keyvalue">
                                    <p class="warning-color" *ngIf="!bookingForm.controls.customer_email.pristine">
                                        {{formErrorMsg[error.key]}}</p>
                                </div>
                                <label for="phone">Phone</label>
                                <input  type="tel"  formControlName="customer_phone">
                                <div *ngFor="let error of bookingForm.controls.customer_phone.errors | keyvalue">
                                    <p class="warning-color" *ngIf="!bookingForm.controls.customer_phone.pristine">
                                        {{formErrorMsg[error.key]}}</p>
                                </div>

                                <div class="callout">
                                    <button [disabled]="isUpdate" type="submit" class="button black expanded primary">Book
                                        Now</button>
                                       
                                </div>
                            </form>
                            <p class="text-center">Confirm booking to get your booking number. Please check your email
                                after submiting for more information</p>
                        </div>
                    </div>
                </div>

            </div>
            <div *ngIf="!isShowBookingForm">
                <div class="padding-center fullheight white-bg">
                    <div class="row">
                        <div class="small-12 columns">
                            <div class="label-text medium">
                                <div class="title">
                                    Thankyou
                                </div>
                                <div class="description margin-bottom-1">
                                    Your Booking ID {{booking_id}}
                                </div>

                                <div class="description">
                                    Please check your email for booking confirmation
                                </div>

                            </div>

                            <div class="button primary" [routerLink]="[ '../' ]" [replaceUrl]="true">
                                Close
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    

    <!-- WAIT FOR INTERACTION -->
    <app-popup (onClose)="closeModal($event)" [isHalf]="true" [name]="'selectDate'" *ngIf="modal.selectDate">
        <app-calendar (onSelect)="selectDate($event)"></app-calendar>
    </app-popup>

    <!-- WAIT FOR INTERACTION -->
    <app-popup (onClose)="closeModal($event)" [isHalf]="true" [name]="'selectTime'" *ngIf="modal.selectTime">
        <div class="padding-center">
            <div class="row">
                <div class="small-12 columns">
                    <div class="row">
                        <div class="small-12 columns">


                            <div class="group-list">
                                <div class="list-tile border-bottom" *ngFor="let item of time">
                                    <div class="flex-container" (click)="selectTime(item)">
                                        <div class="flex-item flex-1">
                                            <div class="title">
                                                {{ item | date:"HH:mm" }}
                                            </div>
                                        </div>
                                        <div class="flex-item flex-1 text-right">
                                            <div class="title primary-color">
                                                Select
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </app-popup>

</section>
