<div class="row small-collapse medium-collapse">
    <div class="medium-3 columns show-for-medium light-grey-bg">
        <app-desktop-sidebar></app-desktop-sidebar>

    </div>
    <div class="medium-9 columns">
        <app-top-navigation-bar [routerLink]=routerLink [noBackButton]=false [isAdmin]=true [title]="title"></app-top-navigation-bar>
        <div *ngIf="!isLoading" class="medium-grey-bg">
            <div class="callout white-bg padding-center border-bottom">
                <div class="flex-container align-center">

                    <div class="flex-item flex-3 margin-right-1">
                        <span class="subtitle small-text"> {{booking.status_label}}</span>
                        <div class="title">
                            {{booking.products[0].name}}
                        </div>


                    </div>
                    <div class="flex-item flex-05 text-right margin-right-05">
                        <img class="avatar-image" height="45px" width="45px" [src]="" alt="">
                    </div>


                </div>
            </div>

            <div class="callout white-bg padding-center elevate-bottom margin-bottom-05">
                <div class="flex-container align-center">

                    <div class="flex-item flex-2 margin-right-05">
                        <div class="subtitle margin-bottom-05" *ngIf="isReschedule">
                            Select Date
                        </div>
                        <div class="subtitle margin-bottom-05" *ngIf="!isReschedule">
                            Date
                        </div>
                        <div class="title" (click)="openModal('selectDate')" *ngIf="isReschedule">
                            {{ booking.from_date | date }} <fa-icon [icon]=faChevronDown></fa-icon>
                        </div>
                        <div class="title" *ngIf="!isReschedule">
                            {{ booking.from_date | date }}
                        </div>

                    </div>
                    <div class="flex-item flex-2 margin-right-05">
                        <div class="subtitle margin-bottom-05" *ngIf="isReschedule">
                            Select Time
                        </div>
                        <div class="subtitle margin-bottom-05" *ngIf="!isReschedule">
                            Time
                        </div>

                        <div class="title" (click)="openModal('selectTime')" *ngIf="isReschedule">
                            {{booking.from_time}} <fa-icon [icon]=faChevronDown></fa-icon>
                        </div>
                        <div class="title" *ngIf="!isReschedule">
                            {{booking.from_time}}
                        </div>

                    </div>
                    <div class="flex-item flex-1 text-right" *ngIf="!isReschedule">
                        <button class="button secondary tiny" (click)="reschedule()">Reschedule</button>
                    </div>
                </div>
            </div>

            <div class="callout white-bg padding-center margin-bottom-05">
                <div class="flex-container">

                    <div class="flex-item flex-3">
                        <div class="title">
                            {{booking.customer.name}}
                        </div>
                        <div class="subtitle">
                            {{booking.customer.phone}}

                        </div>

                    </div>
                    <div class="flex-item flex-05 margin-right-05">
                        <a href="tel:{{booking.customer.phone}}" class="margin-bottom-0 button tiny rounded secondary">
                            <fa-icon [icon]=faPhone></fa-icon>
                        </a>
                    </div>
                    <div class="flex-item flex-05">
                        <a href="mailto:{{booking.customer.email}}"
                            class="margin-bottom-0 button tiny rounded secondary expanded">
                            <fa-icon [icon]=faEnvelopes></fa-icon>
                        </a>
                    </div>
                </div>
            </div>


            <div class="callout white-bg padding-center margin-bottom-1">
                <div class="group-list margin-bottom-2">
                    <div class="list-tile border-bottom">
                        <div class="flex-container align-center">
                            <div class="flex-item flex-1">

                                <div class="title">
                                    Staff
                                </div>

                            </div>
                            <div class="flex-item flex-1 text-right">

                                <div class="subtitle">
                                    Any
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-tile border-bottom">
                        <div class="flex-container align-center">
                            <div class="flex-item flex-1">

                                <div class="title">
                                    Payment
                                </div>

                            </div>
                            <div class="flex-item flex-1 text-right">

                                <div class="subtitle">
                                    Unpaid
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-tile border-bottom">
                        <div class="flex-container align-center">
                            <div class="flex-item flex-1">

                                <div class="title">
                                    Service Fee
                                </div>

                            </div>
                            <div class="flex-item flex-1 text-right">

                                <div class="subtitle">
                                    {{booking.grand_total | currency:'IDR'}}

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-tile">
                        <div class="subtitle">
                            Note
                        </div>
                        <div class="title">

                        </div>
                    </div>


                </div>
                <button class="button black expanded" *ngIf="isReschedule" (click)="updateSchedule()">Save</button>

                <div class="callout margin-bottom-2" *ngIf="!isReschedule">
                    <div class="flex-container" *ngIf="booking.status=='pending'">
                        <div class="flex-item flex-1 margin-right-05">
                            <button class="button  primary hollow  expanded"
                                (click)="updateStatus(booking.id,'CANCELED')">
                                Decline
                            </button>
                        </div>
                        <div class="flex-item flex-1">
                            <button class="button black expanded"
                                (click)="updateStatus(booking.id,'PROCESSING')">Confirm</button>
                        </div>
                    </div>

                    <div class="flex-container" *ngIf="booking.status=='processing'">
                        <div class="flex-item flex-1">
                            <button class="button black expanded" (click)="updateStatus(booking.id,'COMPLETE')">Complete
                                this Booking</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div *ngIf="isLoading">
            <div class="callout padding-center">
                <app-list-tile-placeholder></app-list-tile-placeholder>
                <app-list-tile-placeholder></app-list-tile-placeholder>
            </div>
        </div>


    </div>
</div>


<!-- WAIT FOR INTERACTION -->
<app-popup (onClose)="closeModal($event)" [isHalf]="true" [name]="'selectDate'" *ngIf="modal.selectDate">
    <app-calendar (onSelect)="selectDate($event)"></app-calendar>
</app-popup>

<!-- WAIT FOR INTERACTION -->
<app-popup (onClose)="closeModal($event)" [isHalf]="true" [name]="'selectTime'" *ngIf="modal.selectTime">
    <div class="padding-center">
        <div class="row">
            <div class="small-12 columns">


                <div class="group-list">
                    <div class="list-tile border-bottom" *ngFor="let item of time">
                        <div class="flex-container" (click)="selectTime(item)">
                            <div class="flex-item flex-1">
                                <div class="title">
                                    {{ item | date:"HH:mm" }}
                                </div>
                            </div>
                            <div class="flex-item flex-1 text-right">
                                <div class="title primary-color">
                                    Select
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</app-popup>