<div class="desktop-view">

<div class="light-grey-bg fullheight margin-bottom-3" *ngIf="!isLoading">
    <app-loading *ngIf="isLoading"></app-loading>
    <div *ngIf="!isLoading">
        <div class="row">
            <div class="medium-12 columns">
                <div class="row small-collapse">
                    <div class="small-12 columns">
                        <app-store [business]=business></app-store>
                    </div>
                </div>
            </div>
        </div>

        <section class="padding-center white-bg margin-bottom-05">
            <div class="row">
                <div class="medium-12 columns">
                    <h3>About {{business.name}}</h3>
                    <p>
                        {{business.short_description}}
                    </p>
                    <!-- <div class="row">
                        <div class="small-12 small-collapse columns">
                            <app-product-usp [attribute]=business?.attribute></app-product-usp>

                        </div>
                    </div> -->
                 
                </div>
            </div>
        </section>

      

        <app-featured-photos [photos]=business?.photos></app-featured-photos>
        
        <app-business-location [business]=business></app-business-location>

        <div class="callout stick-bottom show-for-small-only elevate-top white-bg padding-center">
            <div class="flex-container">
               
                <div class="flex-item  margin-right-05">
                    <a href="tel:{{business?.address.telephone}}" class="button rounded secondary margin-bottom-0">
                        <fa-icon [icon]="faPhone"></fa-icon>
                    </a>
                </div>
                <div class="flex-item flex-3">
                    <button class="button black expanded margin-bottom-0" [routerLink]="[ 'booking']">
                        Book an Appointment
                    </button>
                </div>
            </div>
        </div>
    
    </div>
    
</div>

</div>

