<div class="row small-collapse medium-collapse">
    <div class="medium-3 columns show-for-medium light-grey-bg">
        <app-desktop-sidebar></app-desktop-sidebar>
    </div>
    <div class="medium-9 columns white-bg fullheight">
        <app-top-navigation-bar [routerLink]=routerLink [isPop]=true [isAdmin]=true></app-top-navigation-bar>
        <div class="row">
            <div class="medium-12 columns">
                <div class="label-text medium">
                    <div class="title">

                        {{this.productForm.get('name').value?this.productForm.get('name').value:'Edit Product'}}

                    </div>
                </div>
            </div>
        </div>
        <section class="service main-content padding-centers">
            <div *ngIf="!isLoading">
                <div class="row">
                    <div class="small-12 columns">

                        <form class="form margin-bottom-2" [formGroup]="productForm">
                            <div class="list-tile">
                                <div class="flex-container align-center">
                                    <div class="flex-item flex-3">
                                        <div class="title">
                                            Enable
                                        </div>
                                    </div>
                                    <div class="flex-item flex-05 text-right">
                                        <label class="switch">
                                            <input formControlName="status" type="checkbox" [checked]=product.status
                                                (change)="toggleCheckbox('status',$event)">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <label for="name">Name</label>
                            <input type="text" formControlName="name">
                            <div *ngFor="let error of productForm.controls.name.errors | keyvalue">
                                <p class="error" *ngIf="!productForm.controls.name.pristine">
                                    {{formErrorMsg[error.key]}}</p>
                            </div>


                            <label for="duration">Service Duration</label>
                            <select formControlName="service_duration" placehonder="Please select one">
                                <option>Please select duration</option>
                                <option *ngFor="let item of durations" [value]="item.value">
                                    {{item.label}}
                                </option>
                            </select>

                            <label for="short_description">Short Description</label>
                            <input type="text" formControlName="short_description">

                            <label for="description">Long Description</label>

                            <textarea formControlName="description" cols="30" rows="2"></textarea>



                            <div class="margin-bottom-2">
                                <div class="list-tile">
                                    <div class="flex-container align-center">
                                        <div class="flex-item flex-3">
                                            <div class="title">
                                                Add Special Price?
                                            </div>
                                        </div>
                                        <div class="flex-item flex-05 text-right">
                                            <label class="switch">
                                                <input type="checkbox" [checked]="isSpecialPrice"
                                                    (change)="toggleCheckbox('special_price',$event)">
                                                <span class="slider round"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <label for="name">Price</label>
                                <input type="number" formControlName="price">
                                <div *ngIf="isSpecialPrice">
                                    <label for="name">Special Price</label>
                                    <input type="number" formControlName="special_price">
                                </div>



                                <div *ngFor="let error of productForm.controls.price.errors | keyvalue">
                                    <p class="error" *ngIf="!productForm.controls.price.pristine">
                                        Please check your price</p>
                                </div>
                                <div class="callout light-grey-bg padding-center tiny-text warning-color rounded ">
                                    Masukan
                                    harga service tanpa menggunakan titik desimal</div>

                            </div>

                        </form>



                    </div>

                </div>
                <div class="callout padding-center stick-bottom elevate-top white-bg">
                    <button [disabled]=isUpdate class="button black expanded primary"
                        (click)="updateProduct()">{{updateButton}}</button>
                </div>

            </div>

            <div class="callout padding-center" *ngIf="isLoading">
                <app-list-tile-placeholder></app-list-tile-placeholder>
                <app-list-tile-placeholder></app-list-tile-placeholder>
            </div>

        </section>
    </div>
</div>
