<app-top-navigation-bar [isPop]=true  [noBackButton]=false [isAdmin]=true >
</app-top-navigation-bar>

<div class="row">
    <div class="medium-12 columns">
        <div class="label-text medium margin-bottom-1">
            <div class="title">
                {{this.customerForm.get('first_name').value?this.customerForm.get('first_name').value:'New Customer'}}
                {{this.customerForm.get('last_name').value?this.customerForm.get('last_name').value:''}}

           
            </div>
        </div>
    </div>
</div>

<section class="category main-content">
    <div class="row">
        <div class="medium-12 columns">
            <form class="form margin-bottom-2" [formGroup]="customerForm">
               
                <label for="name">First Name</label>
                <input type="text" formControlName="first_name">
                <!-- <div *ngFor="let error of customerForm.controls.name.errors | keyvalue">
                    <p class="error" *ngIf="!customerForm.controls.name.pristine">
                        {{formErrorMsg[error.key]}}</p>
                </div> -->



                <label for="short_description">Last Name</label>
                <input type="text" formControlName="last_name">

                <label for="phone">Phone</label>
                <input type="tel" formControlName="phone">

                <label for="email">Email</label>
                <input type="email" formControlName="email">

                <div class="callout padding-center margin-bottom-4"></div>

           


            </form>


        </div>
    </div>
    <div class="callout white-bg elevate-top stick-bottom padding-center">
        <button class="button black expanded" (click)="updateCustomer()">Save</button>
    </div>

</section>