/* You can add global styles to this file, and also import other style files */
@import './../src/assets/css/app.css';
@import "../src/assets/css/font.css";

// @import "../src/assets/css/onsen-css-components.min.css";
// @import "../node_modules/@glidejs/glide/src/assets/sass/glide.core";
// @import "../node_modules/@glidejs/glide/src/assets/sass/glide.theme";
.discount{
  text-decoration: line-through;
  color: #666666;
}

//button
[disabled],.disabled{
  opacity: 0.5 !important;
}
.border{
  border:1px solid #eeeeee
}
.white{
  color:white !important
}

.galleryModal{
  background: white;
  position: fixed;
  height: 100vh;
  width: 100%;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transition: 1s;
  background: #000000;
}
.avatar-image{
  background: #eeeeee;
  min-width: 50px;
  min-height: 50px;
}



.secondary-color{
  color: #666666 !important;
}


.elevate-top {
  box-shadow: 0px -1px 2px 1px rgba(0, 0, 0, 0.05);
}

.loading {
  
    -webkit-animation: pulse 2s infinite; /* Safari 4+ */
  -moz-animation:    pulse 2s infinite; /* Fx 5+ */
  -o-animation:      pulse 2s infinite; /* Opera 12+ */
  animation:         pulse 2s infinite; /* IE 10+, Fx 29+ */
 }

.spin {
  -webkit-animation: spin 3s infinite; /* Safari 4+ */
  -moz-animation:    spin 3s infinite; /* Fx 5+ */
  -o-animation:      spin 3s infinite; /* Opera 12+ */
  animation:         spin 3s infinite; /* IE 10+, Fx 29+ */
  
}
 .stick-bottom{
     bottom:0;
     position:fixed;
     width:100%;
     z-index: 99;
 }

 


@keyframes pulse {
    0% {
        color: #eeeeee;
        background-color: #eeeaea;
    }
    50% {
        color: #fafafa;
        background-color: #fafafa;
    }
    100% {
      color: #eeeeee;
      background-color: #eeeaea;
    }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

